root = true

[*]
end_of_line = lf
indent_size = 2
insert_final_newline = true
tab_width = 2
trim_trailing_whitespace = true

[*.{css,html,js}]
charset = utf-8
indent_style = tab

[*.{yaml,yml,json}]
charset = utf-8
indent_style = space

[*.{markdown,md}]
charset = utf-8
trim_trailing_whitespace = false
