*,
*::after,
*::before {
	box-sizing: border-box;
}

:focus {
	outline: 0.0125rem solid #596573;
}

/********************************
 * Elements
 ********************************/

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #323942;
	color: #323942;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
}

button {
	padding: 0.5rem;
	border: 1px solid #fff;
	border-radius: 0.25rem;
	background-color: transparent;
	color: #fff;
	font-weight: bold;
}

canvas {
	display: block;
	height: auto;
	width: 100%;
}

fieldset {
	padding: 0;
	border: 0;
	margin: 0;
}
legend {
	display: block;
	padding: 0;
	font-size: smaller;
	font-weight: bold;
	text-transform: uppercase;
}

input[type="number"],
input[type="text"] {
	padding: 0.5rem;
}
input[type="radio"] {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	text-transform: uppercase;
}
h1 {
	font-weight: 900;
}

/********************************
 * Objects
 ********************************/

.app__image {
	height: 100vh;
	width: 100vw;
}
.app__settings {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fafafa;
	padding: 1rem;
	height: 100vh;
	overflow-y: scroll;
	transform: translateX(-100%);
}

.container {
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 60rem;
}

/********************************
 * Components
 ********************************/

.button--primary {
	border: 1px solid #db254c;
	background-color: #ff3562;
}
.button--primary:hover {
	background-color: #db254c;
}

.card {
	padding: 1rem;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.field-group {
	display: flex;
}
.field-group__field {
	flex-grow: 1;
}
.field-group__separator {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	line-height: 2;
}

.figure {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.figure__image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.figure__meta {
	display: flex;
	padding: 0.5rem 0;
	justify-content: space-between;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	font-size: smaller;
	line-height: 2.25;
	vertical-align: middle;
}
.figure__meta-item {
	display: block;
	margin-left: 1rem;
	float: left;
}
.figure__meta-item:last-child {
	margin-right: 1rem;
}

.form-control:not(:last-child) {
	margin-bottom: 1rem;
}
.form-control__field {
	display: block;
	width: 100%;
}
.form-control__label {
	display: block;
	font-size: smaller;
	font-weight: bold;
	text-transform: uppercase;
}
.form-control__option {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}
.form-control__option-list {
	display: flex;
	margin: 1rem -0.5rem -0.5rem 0;
	flex-direction: row;
	flex-wrap: wrap;
}

.frame {
	border: 1px solid #e0e0e0;
	padding: 1rem;
}
.frame:not(:last-child) {
	margin-bottom: 1rem;
}

.tag {
	padding: 0.25rem 0.5rem;
	border: 0;
	background-color: #596573;
}

/********************************
 * Trumps
 ********************************/

.visually-hidden {
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
