<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Abstract Art by a Neural Network</title>

	<link rel="stylesheet" href="assets/[hash main.css]">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
</head>
<body>

	<div class="app" data-component="app">
		<main class="app__image">
			<h1 class="visually-hidden">Abstract Art by a Neural Network</h1>
			<figure class="figure">
				<canvas class="figure__image" data-component="image-renderer"></canvas>
			</figure>
		</main>

		<aside class="app__settings settings">
			<div class="settings__section">
				<dl class="image-reporter info-list" data-component="image-renderer-report" aria-hidden="true">
					<div class="info-list__item">
						<dt class="info-list__property heading">Progress</dt>
						<dd class="info-list__value" data-ref="report-progress"></dd>
					</div>

					<div class="info-list__item">
						<dt class="info-list__property heading">Time remaining</dt>
						<dd class="info-list__value" data-ref="report-time-remaining"></dd>
					</div>
				</dl>

				<button data-ref="button-download">download image</button>
			</div>

			<form data-component="settings">
				<fieldset class="settings__section">
					<legend class="visually-hidden">Render settings</legend>

					<div class="form-control">
						<label for="input-seed" class="heading">Seed</label>
						<small>Number used to initialize the neural network.</small>
						<input type="number" name="seed" id="input-seed" class="form-control__field">
					</div>
					<div class="form-control">
						<label for="input-time" class="heading">Time</label>
						<small>Slightly alters the image. Useful for tweaking.</small>
						<input type="number" name="time" id="input-time" class="form-control__field">
					</div>
					<div class="form-control">
						<label for="input-sharpness" class="heading">Sharpness</label>
						<small>Makes edges more distinguishable.</small>
						<input type="range" name="sharpness" id="input-sharpness" class="form-control__field">
						<div class="field-group">
							<small class="field-group__field">blurry</small>
							<small class="field-group__field text-align-right">sharp</small>
						</div>
					</div>

					<button type="button" name="randomize">randomize</button>
				</fieldset>

				<fieldset class="settings__section">
					<legend class="visually-hidden">Image settings</legend>
					<fieldset>
						<legend class="heading">Resolution</legend>

						<div class="form-control field-group">
							<div class="field-group__field">
								<label for="input-width" class="visually-hidden">Width</label>
								<input type="number" name="width" id="input-width" class="form-control__field">
							</div>
							<span class="field-group__separator">&times;</span>
							<div class="field-group__field">
								<label for="input-height" class="visually-hidden">Height</label>
								<input type="number" name="height" id="input-height" class="form-control__field">
							</div>
						</div>

						<div class="tag-list">
							<button type="button" name="resolution-preset" class="tag-list__item tag" data-resolution="320x180">320&times;180</button>
							<button type="button" name="resolution-preset" class="tag-list__item tag" data-resolution="1280x720">1280&times;720</button>
							<button type="button" name="resolution-preset" class="tag-list__item tag" data-resolution="1920x1080">1920&times;1080</button>
							<button type="button" name="resolution-preset" class="tag-list__item tag" data-resolution="4096x2160">4096&times;2160</button>
						</div>
					</fieldset>
				</fieldset>

				<fieldset class="settings__section">
					<legend class="visually-hidden">Other settings</legend>

					<div class="form-control">
						<label for="input-device-strength" class="heading">Device strength</label>
						<small>Speeds up the rendering process. Optimal value varies per device and browser, so use with caution.</small>

						<input type="range" name="device-strength" id="input-device-strength" class="form-control__field">
						<div class="field-group">
							<small class="field-group__field">weak (smartphone)</small>
							<small class="field-group__field text-align-right">ultra (gaming desktop)</small>
						</div>
					</div>
				</fieldset>
			</form>
		</aside>
	</div>

	<footer class="footer">
		<small>Made with love by <a href="https://twitter.com/timseverien">Tim Severien</a> &mdash; <a href="https://github.com/timseverien/doodles/tree/master/neural-abstract-art">source</a></small>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.7"></script>
	<script src="assets/[hash main.js]"></script>
</body>
</html>
